<li class="news-page-item">

	<div class= "news-page-item-heading">
		<div class="news-page-item-title page-subheading3">{{title}}</div>

		{{#with dateRange}}
		<div class="news-page-date">{{{.}}}</div>
		{{/with}}

	</div>	


	<div class="news-item-body">
		{{#if imageUrl}}
			{{#if imageLink}}
				<a target="_blank" href="{{imageLink}}" class="news-page-pic-crop">	
					<img src="{{imageUrl}}"/>
				</a>
			{{else}}
				<div class="news-page-pic-crop">	
					<img src="{{imageUrl}}"/>
				</div>
			{{/if}}

		{{/if}}


		{{#if videoUrl}}
		<div class="news-page-vid">
			<iframe class="news-page-vid-link" src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>
		</div>
		{{/if}}

		<div class="news-page-detail paragraph-text">{{{contentFull}}}</div>
	</div>
	
</li>